@using LechTyper.Resources
@model ICollection<AuthenticationClientData>
using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
@Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>@ResourceMain.RegisterSocial</legend>
        <p>
            @foreach (AuthenticationClientData p in Model)
            {
                <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" class="btn btn-primary">@p.DisplayName</button>
            }
        </p>
    </fieldset>
}