@using LechTyper.Resources
<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.LogFailure/h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->
<div class="row">
    <div class="span6 alert alert-dismissible alert-danger">
        @ResourceMain.ExternalLoginFailure
    </div>
</div>
<div class="hr-divider"></div>