<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
</div>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-10">
            <p class="bs-component">
                Jestem studentem Politechniki Poznańskiej i ta aplikacja webowa jest moją pracą inżynierską. Jest związana z tym co najbardziej kocham czyli z Kolejorzem.
            </p>
        </div>

        <div class="col-lg-2">
            <h3>Inne projekty</h3>
            <ul>
                <li><a href="instascore.somee.com">InstaScore</a></li>
            </ul>
        </div>
    </div>
</div>
