<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
</div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-4">
            <h3>Konta społecznościowe</h3>
            <p class="bs-component">
                <span><a href="facebook.com/laionik">Facebook</a></span><br />
                <span><a href="twitter.com/laionik">Twitter</a></span>
            </p>
        </div>

        <div class="col-lg-4">
            <h3>Email</h3>
            <p class="bs-component">
                <span class="label">Laionik:</span>
                <span><a href="mailto:Support@example.com">lukasz.sosinski4@gmail.com</a></span>
            </p>
        </div>

        <div class="col-lg-4">
            <h3>Portfolio</h3>
            <p class="bs-component">
                <span><a href="github.com/Laionik">GitHub</a></span>
            </p>
        </div>
    </div>
</div>