@using LechTyper.Resources
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>@ResourceMain.Tittle</h1>
        </div>
    </div>
</div>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-10">
            <p class="bs-component">
                Witaj na stronie LechTypera. Przejrzyj wybrane statystyki a w razie jakichkolwiek wątpliwości @Html.ActionLink("skontaktuj się ze mną.", "Contact")
            </p>
        </div>
        <div class="col-lg-2">
            <h4>Twitter</h4>
            <ul>
                <li><a href="https://twitter.com/LechTYPER">LechTyper</a></li>
                <li><a href="https://twitter.com/Laionik">Autor strony</a></li>
                <li><a href="https://twitter.com/MOL4K">Autor zabawy</a></li>
            </ul>
        </div>
    </div>
</div>
