@using LechTyper.Resources
@model System.Web.Mvc.HandleErrorInfo

<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.Error 403</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->

<div class="alert alert-dismissible alert-danger">
    <img src='@Url.Content("~/Images/Error/403.jpg")' style="width:100%; height:auto;">
</div>