@using LechTyper.Resources
@model System.Web.Mvc.HandleErrorInfo

<!--PAGE TITLE-->
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>@ResourceMain.Error 404</h1><br>
        </div>
    </div>
</div>
<!-- /. PAGE TITLE-->

<div class="alert alert-dismissible alert-danger">
    <h2 class="error">Strona była i ni ma. Skontaktuj się z administratorem.</h2>
    @Model.Exception.Message
</div>