@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

<div class="alert alert-dismissible alert-danger">
    <h1 class="error">Błąd.</h1>
    <h2 class="error">Wystąpił błąd podczas przetwarzania Twojego polecenia. Skontaktuj się z administratorem.</h2>
</div>