@{
    ViewBag.Title = "Role";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="panel">
    <p>
        @Html.ActionLink("Utwórz nowe role", "RoleCreate") | @Html.ActionLink("Zarządzanie rolami użytkownika", "RoleAddToUser") | @Html.ActionLink("Panel admina", "Admin")
    </p>
    <table class="table table-striped table-hover ">
        @foreach (string s in Model)
        {
            <tr>
                <
                <td>
                    @s

                </td>
                <td>
                    <span onclick="return confirm('Jeseś pewny by usunąć?')">
                        <a href="/Admin/RoleDelete?RoleName=@s" class="delLink"><img src="/images/deleteicon.png" alt="Usuń" class="imgBorder0" />  Usuń</a>
                    </span>
                </td>
            </tr>
        }
    </table>
</section>