@model List<LechTyper.Models.ReadTwitter>
@{
    ViewBag.Title = "Typy";
}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</div>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-10">
            <p class="bs-component">
                @*<h3>Wczytane wpisy (Razem: @Model.Count())</h3>
                @{
                    foreach (var x in Model)
                    {
                        string temp = "\nCA: " + x.created_at + "\nTTID: " + x.post_id + "\nTEXT: " + x.text + "\nUSERIDSTR: "
                            + x.user_id + "\nNAME: " + x.user_name + "\nNICK: " + x.user_nick;
                        <span style="white-space: pre-line">@temp</span>
                        <br /><br /><br />
                    }
                }*@
            </p>
        </div>
        @*<div class="col-lg-2">
                        <h3>Inne tagi</h3>
                        <ul>
                            @{
            <li><a href="instascore.somee.com">InstaScore</a></li>
                            }
                        </ul>
                    </div>*@
    </div>
</div>
