@using LechTyper.Resources
@model string
<h1>@ResourceMain.Error!</h1>
<p>Wystąpił nieznany błąd związany z bazą danych. Proszę skontaktuj się z administratorem serwisu opisując problem.</p>
<p>
    @Model
</p>