@{
    ViewBag.Title = "Błąd!";
}
<h1>@ViewBag.Title</h1>
<p>Wystąpił nieznany błąd związany z bazą danych. Proszę skontaktuj się z administratorem serwisu opisując problem.</p>
<p>
    @ViewBag.ErrorMessage
</p>