@using LechTyper.Resources
@model string
<h1>@ResourceMain.Error!</h1>
<p>Wystąpił błąd! Proszę skontaktuj się z administratorem serwisu opisując problem i podająć poniższą wiadomość</p>
<p>
    @Model
</p>