@{
    Layout = null;
}

To: @ViewBag.To
From: instascore2015@gmail.com
Subject: Aktywacja konta InstaScore
<html>
<body>
    Cześć @ViewBag.UserName,<br />
       Aby ukończyć proces rejestracji <a href="@ViewBag.ConfirmationLink">potwierdź swój adres e-mail.</a><br/>
    Pozdrawiamy<br/>
    Administracja InstaScore
</body>
</html>
