@{
    Layout = null;
}
To: @ViewBag.To
From: instascore2015@gmail.com
Subject: Resetowanie hasła konta InstaScore
<html>
    <body>
        Cześć @ViewBag.UserName!<br />
        Otrzymaliśmy informację, że niestety zapomniałeś swoje hasło. Żeby odzyskać konto kliknij <a href="@ViewBag.ResetLink">zresetuj hasło!</a><br />
        Pozdrawiamy<br />
        Administracja InstaScore
    </body>
</html>